* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat.ttf");
}
@font-face {
  font-family: LeagueSpartan;
  src: url("../fonts/LeagueSpartan.ttf");
}
.main .skills .soft-skills, .main .skills .hard-skills {
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1c1d21;
}
.main .skills .soft-skills .skil, .main .skills .hard-skills .skil {
  display: block;
  width: 100%;
  height: 2.5vw;
  line-height: 2.5vw;
  font-size: 1.9vw;
  background-color: #1c1d21;
  color: #f5deb3;
  text-align: center;
}
.main .skills .soft-skills .skills__menu, .main .skills .hard-skills .skills__menu {
  margin: 2% 0 0 0;
}
.main .skills .soft-skills .skills__menu .skills__item, .main .skills .hard-skills .skills__menu .skills__item {
  margin: 1% 0 0 0;
  text-align: center;
}

.main .projects .slider-container .slider .project-eldrich, .main .projects .slider-container .slider .project-momentum, .main .projects .slider-container .slider .project-travel {
  width: 33.33%;
  position: relative;
}
.main .projects .slider-container .slider .project-eldrich .projects__link, .main .projects .slider-container .slider .project-momentum .projects__link, .main .projects .slider-container .slider .project-travel .projects__link {
  display: block;
}
.main .projects .slider-container .slider .project-eldrich .projects__link img, .main .projects .slider-container .slider .project-momentum .projects__link img, .main .projects .slider-container .slider .project-travel .projects__link img {
  width: 100%;
}
.main .projects .slider-container .slider .project-eldrich .image-text, .main .projects .slider-container .slider .project-momentum .image-text, .main .projects .slider-container .slider .project-travel .image-text {
  position: absolute;
  left: 5%;
  bottom: 2%;
  width: 50%;
  height: 4vw;
  line-height: 4vw;
  padding: 0 0 0 10px;
  background-color: #ff5555;
  font-family: Montserrat, sans-serif;
  font-size: 2.5vw;
  text-shadow: 0px 1px 1px #282b2e;
  box-shadow: 0px 1px 1px #282b2e;
  color: #f5deb3;
}

.header-desktop {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #1c1d21;
}
.header-desktop .nav-desktop {
  width: 100vw;
  max-width: 1200px;
  height: 40px;
  background: #1c1d21;
  position: fixed;
  z-index: 1;
}
.header-desktop .nav-desktop .menu-desktop {
  display: flex;
  justify-content: space-around;
}
.header-desktop .nav-desktop .menu-desktop .menu__item-desktop {
  max-width: 20%;
  flex-shrink: 1;
  font-family: Montserrat, sans-serif;
  font-size: 1.5vw;
  color: #f5deb3;
  text-align: center;
  line-height: 40px;
  transition: all 0.5s ease;
}
.header-desktop .nav-desktop .menu-desktop .menu__item-desktop:hover {
  color: #ff5555;
}
.header-desktop .header__intro-desktop {
  width: 100%;
  margin: 40px 0px 0px 0px;
  display: flex;
  align-items: flex-start;
}
.header-desktop .header__intro-desktop .photo {
  width: 20%;
}
.header-desktop .header__intro-desktop .title-desktop {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-family: LeagueSpartan, sans-serif;
  font-size: 11vw;
  color: #f5deb3;
}
.header-desktop .header__intro-desktop .title-desktop .surname {
  font-family: Montserrat, sans-serif;
  margin: 8% 0 0 0;
  text-align: center;
}
.header-desktop .header__intro-desktop .title-desktop .name {
  font-size: 10vw;
  color: #ff5555;
  text-align: right;
  padding: 0 8%;
}
.header-desktop .header__intro-desktop .title-desktop .profession {
  display: block;
  position: relative;
  left: 3%;
  width: 97%;
  height: 2vw;
  background-color: #ff5555;
  color: #1c1d21;
  font-size: 1.8vw;
  line-height: 2vw;
  text-align: right;
  padding: 0 10% 0 0;
}

.header-mobile {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #111213;
}

.sub-header {
  padding: 15px 0 0 0;
  margin: 0px 0px 2% 0px;
  font-family: Montserrat, sans-serif;
  font-size: 2.5vw;
  text-shadow: 0px 1px 1px #282b2e;
  color: #ff5555;
  border-bottom: 2px solid #ff5555;
}

.text {
  font-family: LeagueSpartan, sans-serif;
  font-size: 1.6vw;
  line-height: 1.15;
  color: #1c1d21;
}

.first-slide {
  left: 0;
}

.second-slide {
  left: -100%;
}

.third-slide {
  left: -200%;
}

.main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.main .summary {
  width: 100%;
  display: flex;
}
.main .summary .contacts {
  background-color: #1c1d21;
  padding: 0 1%;
  flex: 1 1 20%;
}
.main .summary .contacts .contacts__item {
  display: block;
  height: 2vw;
  margin: 0 0 3% 0;
  padding: 0 0 0 12%;
  font-family: LeagueSpartan, sans-serif;
  font-size: 1.4vw;
  line-height: 2vw;
}
.main .summary .contacts .contacts__item a {
  color: #f5deb3;
}
.main .summary .contacts .contacts__item:first-child {
  margin-top: 5%;
  background: url("icons/email.png") center left/10% no-repeat;
}
.main .summary .contacts .contacts__item:nth-child(2) {
  background: url("icons/vk.png") center left/10% no-repeat;
}
.main .summary .contacts .contacts__item:nth-child(3) {
  background: url("icons/telegram.png") center left/10% no-repeat;
}
.main .summary .contacts .contacts__item:nth-child(4) {
  padding: 1.4% 0 0 12%;
  background: url("icons/dicsord.png") center left/10% no-repeat;
}
.main .summary .about-me {
  flex: 1 1 80%;
  background-color: #f5deb3;
  padding: 0 1%;
}
.main .skills {
  width: 100%;
  background-color: #f5deb3;
  padding: 0 1%;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: center;
}
.main .skills .sub-header {
  flex: 1 1 100%;
}
.main .code {
  width: 100%;
  background-color: #f5deb3;
  padding: 0 1%;
}
.main .code .code-examples {
  display: flex;
  justify-content: center;
  gap: 2%;
}
.main .code .code-examples code {
  font-size: 1vw;
  display: block;
  height: 14vw;
}
.main .projects {
  width: 100%;
  background-color: #f5deb3;
  padding: 0 1%;
  padding-bottom: 1%;
  position: relative;
}
.main .projects .click-left {
  position: absolute;
  width: 5%;
  height: 85%;
  left: 0;
  background: url("icons/slider-prev.svg") 200%/50px no-repeat;
  cursor: pointer;
}
.main .projects .click-right {
  position: absolute;
  width: 5%;
  height: 85%;
  right: 0;
  background: url("icons/slider-next.svg") 0%/50px no-repeat;
  cursor: pointer;
}
.main .projects .slider-container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.main .projects .slider-container .slider {
  width: 300%;
  position: relative;
  display: flex;
  transition: 0.5s ease;
}
.main .education {
  width: 100%;
  background-color: #f5deb3;
  padding: 0 1%;
}
.main .education .education__menu {
  padding-bottom: 1%;
}
.main .education .education__menu .education__item {
  padding-left: 3%;
  padding-bottom: 1%;
  background: url("icons/check.png") 0 1%/2% no-repeat;
}
.main .english {
  width: 100%;
  background-color: #f5deb3;
  padding: 0 1%;
  display: flex;
  flex-wrap: wrap;
}
.main .english .sub-header {
  flex: 1 1 100%;
}
.main .english .left-side {
  flex: 0 1 50%;
}
.main .english .left-side .large {
  font-family: LeagueSpartan, sans-serif;
  font-size: 3vw;
}
.main .english .left-side .button {
  position: relative;
  left: 20%;
  top: 15%;
  display: block;
  width: 40%;
  height: 20%;
  background-color: #ff5555;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #1c1d21;
  transition: 0.5s ease;
  font-family: LeagueSpartan, sans-serif;
  font-size: 1.6vw;
  line-height: 1.15;
  color: #1c1d21;
}
.main .english .left-side .button a {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.main .english .left-side .button:hover {
  color: #f5deb3;
  background-color: #1c1d21;
}
.main .english .right-side {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
}
.main .english .right-side .certificate {
  width: 50%;
}

.footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #1c1d21;
}
.footer .footer-container {
  padding: 1% 3%;
  display: flex;
  justify-content: space-between;
}
.footer .footer-container .footer-text {
  font-family: Montserrat, sans-serif;
  font-size: 2vw;
  color: #f5deb3;
}
.footer .footer-container .github-link {
  font-family: Montserrat, sans-serif;
  font-size: 2vw;
  color: #ff5555;
}
.footer .footer-container .rs-school-link {
  width: 8%;
}/*# sourceMappingURL=main.css.map */