/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
@font-face {
	font-family: Montserrat;
	src: url("./fonts/Montserrat.ttf");
}
@font-face {
	font-family: LeagueSpartan;
	src: url("./fonts/LeagueSpartan.ttf");
}
body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1000px;
	background: #181a1b;
	font-family: LeagueSpartan, sans-serif;
	font-size: 18px;
}
.header {
}
.nav {
	margin: 0px 0px 30px 0px;
	
}
.menu {
	display: flex;
	position: fixed;
	z-index: 1;
	justify-content: space-evenly;
	align-items: center;
	width: 75%;
	max-width: 1000px;
	height: 2.5em;
	background: #282b2e;
	/* border-left: 5px solid #ff5555;
	border-right: 5px solid #ff5555; */
	
}
.menu-item {
	
}
.menu-item-link {
	color: #ff5555;
}
.container {
	padding: 0 0 0 230px;
	background: #282b2e;
}
.first-container {
	height: 378px;
}
.intro {
	margin: 45px 0px 0px 0px;
	padding: 30px 0 0 0;
	font-size: 6em;
}
.my-name {
	display: block;
	font-family: Montserrat, sans-serif;
	font-size: 1.2em;
	padding: 20px 0 0 0;
	text-align: center;
	color: #f5deb3;
}
.my-surname {
	display: block;
	text-align: right;
	padding: 0 65px 0 0;
	color: #ff5555;
}
.prof {
	margin: 20px 0px 0px 0px;
	padding: 0 70px 0 0;
	background: #ff5555;
	height: 30px;
	font-size: 25px;
	line-height: 35px;
	color: #282b2e;
	text-align: right;
}

.aside {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 2.5em;
	max-width: 210px;
}
.foto {
	/* box-shadow: 1px 1px 10px 0px black; */
}
.contact {
	padding: 10px;
	margin: 10px 0px 0px 0px;
	
}
.contact h2 {
	font-size: 25px;
	font-family: Montserrat, sans-serif;
	color: #ff5555;
	border-bottom: 2px solid #ff5555;
	margin: 0px 0px 10px 0px;
}
.contact-list li{
	margin: 0px 0px 10px 0px;
	
}
.contact-item a {
	color: #f5deb3;
	padding: 0 0 0 25px;
	line-height: 20px;
	
}
.contact-item:nth-child(1) {
	background: url("./icons/email.png") top left/10% no-repeat;
}
.contact-item:nth-child(2) {
	background: url("./icons/vk.png") top left/10% no-repeat;
}
.contact-item:nth-child(3) {
	background: url("./icons/telegram.png") top left/10% no-repeat;
}
.contact-item:nth-child(4) {
	background: url("./icons/dicsord.png") top left/10% no-repeat;
}

.main .container {
	background: url(./images/main-back.svg) 210px top/100% 100% no-repeat, #282b2e;
	padding: 0 20px 0 230px;
	text-align: justify;
}
.summary {
	
}
#about,
#skills,
#code,
#projects,
#education,
#english {
	padding: 15px 0 0 0;
	font-family: Montserrat, sans-serif;
	font-size: 30px;
	text-shadow: 0px 1px 1px #282b2e;
	color: #ff5555;
	border-bottom: 2px solid #ff5555;
	margin: 0px 0px 20px 0px;
}
.text {
	font-size: 20px;
	line-height: 1.15;
}
.skills {
}
.skills-text {
	display: flex;
	margin: 0px -20px 0px -20px;
	
}
.skills-col1,
.skills-col2
 {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	padding: 0px 20px 0px 20px;
	text-align: center;
}
.hard,
.soft {
	font-family: Montserrat, sans-serif;
	font-size: 25px;
	background: #282b2e;
	color: #f5deb3;
	padding: 5px 0;
}
.hard-list,
.soft-list
 {
	padding: 10px 0;
	font-size: 22px;
	border: 1px solid #282b2e;
}

.soft-list {
	flex: 1 1 auto;
}

.code {
	font-size: 17px;
}
.background {
	display: flex;
	flex-direction: column;
	position: relative;
}
.background-image {
	align-self: center;
	max-width: 80%;
	box-shadow: 0px 0px 3px #282b2e;
}
.project-text,
.project-accent,
.project-button {
	position: absolute;
	background-color:#282b2e;
	padding: 8px 10px;
	color: #f5deb3;
}
.project-text {
	top: 20%;
	left: 10%;
}
.project-accent {
	top: 30%;
	left: 10%;
	font-size: 40px;
}
.project-button {
	bottom: 15%;
	right: 20%;
	font-size: 30px;
	transition: 0.2s;
}
.background-image:hover ~ .project-button,
.project-button:hover {
	bottom: 13%;
	right: 17.5%;
	font-size: 40px;
}
.education {
}
.education-list {
}
.education-item {
}
.english {
}
.english-b2 {
}
.english-c1 {
}
.english-link {
}
.certificate {
}
.footer {
}
.footer-text {
}
.github-link {
}
.rs-school-link {
}
.rs-school {
}